# openssl rand -base64 48
SECRET_KEY='secure-generated-secret-key'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///src/db.sqlite3
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
TIME_ZONE=UTC
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
